* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-image: url(images/hands-playing-rock-paper-scissors-game-flat-design-style-vector-illustration_540284-598.avif);
  
}

img {
  width: 50px;
  
}

button {
  border: 1px solid rgb(255, 111, 0);
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  
  
}
.btn {
  position: absolute;
  height: 40px;
  bottom: -10px;
  left: 70%;
  font-weight: 700;
}
button:hover {
  transform: scale(0.9);
}

.head {
  background-color: white;
  box-shadow: 1px 6px 5px 0px rgba(5, 243, 5, 0.75);
  width: 75%;
  height: 450px;
  margin-left: 100px;
  border-radius: 10px;
  position: relative;
  
}
.head .h11 {
  margin-left: 120px;
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 132, 0);
  font-size: 40px;
  text-wrap: nowrap;
  
}
h2 {
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 128, 0);
  margin-left: 20px;
  font-size: 30px;
}
span {
  color: rgb(230, 31, 5);;
}
.winGame {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 132, 0);;
  height: 30px;
  border-radius: 5px;
  }

  .winGame h4 {
    text-shadow: 2px 2px 2px black;
    color: rgb(255, 132, 0);;
    font-size: 20px;
  }

.bod {
  background-color: aliceblue;
  box-shadow: 1px 6px 5px 0px rgba(243, 120, 5, 0.75);
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 0px;
  margin-top: 30px;
  position: relative;
}
.btn {
  bottom: 5%;
  margin-left: 20px;
}
hr {
  border-color: rgb(255, 123, 0);
}
.group {
  position: absolute;
  bottom: 15%;
  left: 27%;
  text-align: center;
  letter-spacing: px;
}
.group h3 {
  text-shadow: 2px 2px 2px black;
    color: rgb(255, 132, 0);;
    font-size: 30px; 
    margin-right: 100px;
    text-wrap: nowrap;
}
.group h1 {
  margin-right: 130px;
  font-size: 40px;
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 132, 0);
  
  
}
#btn3 {
  margin-left: 70px;
}



@media (max-width : 780px){


  img {
    width: 50px;
    
  }
  
  
  
  
  .head {
    height: 300px;
    width: 100%;
    margin-left: 1px;
    margin-top: 50px;
  }
 .head .h11 {
    
    
    margin-left: 7%;
    font-size: 30px;
    
  }
  h2 {
    
    font-size: 22px;
    margin-left: 20px;
  }
  
  .bod {
    width: 100%;
    margin-left: 1px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bod button img {
    width: 30px;
  }

  
  button {
    border-color: rgb(255, 132, 0);
  }
  .btn {
    bottom: -8%;
    margin-left: 10px;
  }
  .group {
    margin-bottom: -1%;
    margin-left: -20%;
  }
  #gameOver {
    margin-left: 20px;
    font-size: 40px;
  
  }

  .group h3 {
    font-size: 25px;
    margin-right: 120px;
    
  }
  .group #btn3 {
    margin-left: 20%;
  }
  .winGame {
    gap: 20px;
  }
  
}
